body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #D9D7DD;
  background-image: url(https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
}